#testDiv1 {
  width: 25%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
}
#testDiv2 {
  width: 37%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
}
#testDiv3{
  width: 37%;
  padding: 15px;
  margin: 2px;
  box-sizing: border-box;
  float:left;
}
#container {
  width: 100%;
}
